### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [283]:
#DISTRICT SUMMARY

# Calculate the total number of schools
total_schools = len(school_data)

# Calculate the total number of students
total_students = len(student_data)

# Calculate the total budget
total_budget = school_data["budget"].sum()

# Calculate the average math score
average_mathscore = student_data ["math_score"].mean()

# Calculate the average reading score
average_readingscore = student_data ["reading_score"].mean()

# Calculate the percentage of students with a passing math score (70 or greater)

passing_math = (len(student_data[student_data.math_score >= 70])/total_students)*100

# Calculate the percentage of students with a passing reading score (70 or greater)

passing_reading = (len(student_data[student_data.reading_score >= 70])/total_students)*100

# Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing = (len(student_data[(student_data.math_score >= 70) & 
                   (student_data.reading_score >= 70)])/total_students)*100

# Create a dataframe to hold the above results

results = pd.DataFrame({"Total Schools":[total_schools],"Total Students":[total_students],"Total Budget":[total_budget],"Average Math Score":[average_mathscore],"Average Reading Score":[average_readingscore],"% Passing Math":[passing_math],"% Passing Reading":[passing_reading], "% Overall Passing":[overall_passing]})


# Optional: give the displayed data cleaner formatting

results['Total Students'] = results['Total Students'].map("{:,}".format)
results['Total Budget'] = results['Total Budget'].map("${:,.2f}".format)
results['Average Math Score'] = results['Average Math Score'].map("{:.2f}".format)
results['Average Reading Score'] = results['Average Reading Score'].map("{:.2f}".format)
results['% Passing Math'] = results['% Passing Math'].map("{:.2f}".format)
results['% Passing Reading'] = results['% Passing Reading'].map("{:.2f}".format)
results['% Overall Passing'] = results['% Overall Passing'].map("{:.2f}".format)



results

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [284]:
#SCHOOL SUMMARY

#Grouping by school name, type and budget.
school_name_group = school_data_complete.groupby(['school_name','type','budget'])

#Counting student per school
student_per_school = school_name_group['Student ID'].count()

#

average_mathscore = school_name_group['math_score'].mean()

average_readingscore = school_name_group['reading_score'].mean()


passing_math_list = school_data_complete[(school_data_complete.math_score >= 70)]

passing_math_group = passing_math_list.groupby(['school_name','type','budget'])

passing_math_c = passing_math_group['math_score'].count().to_frame ('Passing Math')



passing_reading_list = school_data_complete[(school_data_complete.reading_score >= 70)]

passing_reading_group = passing_reading_list.groupby(['school_name','type','budget'])

passing_reading_c = passing_reading_group['math_score'].count().to_frame ('Passing Reading')


overall_passing_list = school_data_complete[(school_data_complete.math_score >= 70) & 
                   (school_data_complete.reading_score >= 70)]

overall_passing_group = overall_passing_list.groupby(['school_name','type','budget'])



overall_passing_c = overall_passing_group['math_score'].count().to_frame('Overall Passing')


summary_school = pd.concat([student_per_school, average_mathscore, average_readingscore,passing_math_c, passing_reading_c,overall_passing_c], axis='columns', sort=False)


# convert gruop into a data frame
summary_school_df = summary_school.reset_index()

summary_school_df_rename =  summary_school_df.rename (columns={'school_name': 'School Name', 'type':'School Type','budget':'Total School Budget', 'Student ID':'Total Students', 'math_score':'Average Math Score','reading_score':'Average Reading Score'})

#Adding percentages of passing totals.

summary_school_df_rename['Per Student Budget']= (summary_school_df_rename['Total School Budget']/ summary_school_df_rename['Total Students'])

summary_school_df_rename['% Passing Math']= (summary_school_df_rename['Passing Math']/ summary_school_df_rename['Total Students'])*100

summary_school_df_rename['% Passing Reading']= (summary_school_df_rename['Passing Reading']/ summary_school_df_rename['Total Students'])*100

summary_school_df_rename['% Overall Passing']= (summary_school_df_rename['Overall Passing']/ summary_school_df_rename['Total Students'])*100

summary_school_df_reduce = summary_school_df_rename[['School Name','School Type','Total Students', 'Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math', '% Passing Reading', '% Overall Passing']]

summary_school_df_rindex = summary_school_df_reduce.rename (columns={'School Name': ' '})

summary_school_df_final = summary_school_df_rindex.set_index(summary_school_df_rindex.columns[0])

#Formating currency columns

summary_school_df_final['Total School Budget'] = summary_school_df_final['Total School Budget'].map("${:,.2f}".format)
summary_school_df_final['Per Student Budget'] = summary_school_df_final['Per Student Budget'].map("${:,.2f}".format)
summary_school_df_final['Average Math Score'] = summary_school_df_final['Average Math Score'].map("{:.2f}".format)
summary_school_df_final['Average Reading Score'] = summary_school_df_final['Average Reading Score'].map("{:.2f}".format)
summary_school_df_final['% Passing Math'] = summary_school_df_final['% Passing Math'].map("{:.2f}".format)
summary_school_df_final['% Passing Reading'] = summary_school_df_final['% Passing Reading'].map("{:.2f}".format)
summary_school_df_final['% Overall Passing'] = summary_school_df_final['% Overall Passing'].map("{:.2f}".format)
summary_school_df_final

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [285]:
top_performing_schools = summary_school_df_final.sort_values('% Overall Passing', ascending = False)
top_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [286]:
bottom_performing_schools = summary_school_df_final.sort_values('% Overall Passing')
bottom_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [295]:

#Grade 9 column

grade9m_list = school_data_complete[(school_data_complete.grade == "9th")]

grade9m_group = grade9m_list.groupby(['school_name'])

grade9m_c = grade9m_group['math_score'].mean().to_frame(name = '9th')


#Grade 10 column

grade10m_list = school_data_complete[(school_data_complete.grade == "10th")]

grade10m_group = grade10m_list.groupby(['school_name'])

grade10m_c = grade10m_group['math_score'].mean().to_frame(name ='10th')


#Grade 11 column

grade11m_list = school_data_complete[(school_data_complete.grade == "11th")]

grade11m_group = grade11m_list.groupby(['school_name'])

grade11m_c = grade11m_group['math_score'].mean().to_frame(name ='11th')


#Grade 12 column

grade12m_list = school_data_complete[(school_data_complete.grade == "12th")]

grade12m_group = grade12m_list.groupby(['school_name'])

grade12m_c = grade12m_group['math_score'].mean().to_frame(name ='12th')

# final data frame

math_score_bygrade = pd.concat([grade9m_c, grade10m_c, grade11m_c, grade12m_c], axis='columns', sort=False)

math_score_bygrade_final = math_score_bygrade.rename (index={'school_name':'School Name'})


math_score_bygrade_final

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [232]:
#Grade 9 column

grade9r_list = school_data_complete[(school_data_complete.grade == "9th")]

grade9r_group = grade9r_list.groupby(['school_name'])

grade9r_c = grade9r_group['reading_score'].mean().to_frame(name = '9th')


#Grade 10 column

grade10r_list = school_data_complete[(school_data_complete.grade == "10th")]

grade10r_group = grade10r_list.groupby(['school_name'])

grade10r_c = grade10r_group['reading_score'].mean().to_frame(name ='10th')


#Grade 11 column

grade11r_list = school_data_complete[(school_data_complete.grade == "11th")]

grade11r_group = grade11r_list.groupby(['school_name'])

grade11r_c = grade11r_group['reading_score'].mean().to_frame(name ='11th')


#Grade 12 column

grade12r_list = school_data_complete[(school_data_complete.grade == "12th")]

grade12r_group = grade12r_list.groupby(['school_name'])

grade12r_c = grade12r_group['reading_score'].mean().to_frame(name ='12th')

# final data frame

reading_score_bygrade = pd.concat([grade9r_c, grade10r_c, grade11r_c, grade12r_c], axis='columns', sort=False)

reading_score_bygrade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [264]:
bins = [0,585, 630,645,680]
group_labels =["<$585","$585-630","$630-645","$645-680"]

summary_school_df_final['Spending Ranges (per student)'] = pd.cut(summary_school_df_final['Per Student Budget'], bins, labels=group_labels)

summary_school_df_final.reset_index(drop=True)

scores_byspending = summary_school_df_final.groupby(['Spending Ranges (per student)'])

scores_byspending_mean = scores_byspending.mean()

scores_byspending_final = scores_byspending_mean[['Average Math Score','Average Reading Score','% Passing Math', '% Passing Reading','% Overall Passing']]

scores_byspending_final

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (per student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [267]:
bins = [0,1000, 2000,5000]
group_labels =['Small (<1000)','Medium (10000-2000)','Large (2000-5000)']

summary_school_df_final['School Size'] = pd.cut(summary_school_df_final['Total Students'], bins, labels=group_labels)

summary_school_df_final.reset_index(drop=True)

scores_bysize = summary_school_df_final.groupby(['School Size'])

scores_bysize_mean = scores_bysize.mean()

scores_bysize_final = scores_bysize_mean[['Average Math Score','Average Reading Score','% Passing Math', '% Passing Reading','% Overall Passing']]

scores_bysize_final

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (10000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [268]:

summary_school_df_final.reset_index(drop=True)

scores_bytype = summary_school_df_final.groupby(['School Type'])

scores_bytype_mean = scores_bytype.mean()

scores_bytype_final = scores_bytype_mean[['Average Math Score','Average Reading Score','% Passing Math', '% Passing Reading','% Overall Passing']]

scores_bytype_final

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208